# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Supabase / PostgreSQL
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=post123
DB_HOST=localhost
DB_PORT=5432
DB_SSLMODE=prefer
DB_CONN_MAX_AGE=60

# Make.com
MAKE_WEBHOOK_URL=https://hook.eu1.make.com/your-webhook
